.MuiDialogTitle-root {
  padding: 16px 0 8px 0 !important;;
  text-align: center !important;;
  text-transform: uppercase !important;;
  font-weight: 800 !important;;
  font-size: 1.8rem !important;
}

.MuiDialogActions-root {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.MuiBackdrop-root {
  background-color: rgba(9, 1, 9, 0.85) !important;
}