.MuiDialogTitle-root {
  padding: 16px 0 8px 0 !important;;
  text-align: center !important;;
  text-transform: uppercase !important;;
  font-weight: 800 !important;;
  font-size: 1.8rem !important;
}

.MuiDialogActions-root {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.MuiBackdrop-root {
  background-color: rgba(9, 1, 9, 0.85) !important;
}

.MuiToolbar-root {
  justify-content: space-between !important;
  padding: 1rem !important;
}

.MuiIconButton-root {
  padding: 0 !important;
}

.MuiSvgIcon-root {
  font-size: 2.4rem !important;
}

.MuiFormControl-root {
  margin-bottom: 2rem !important;
}